.stream-page-container {
  width: 820px;
  margin: 0 auto;
}

.stream-page-container .header {
  display: block;
  font-size: 18px;
  color: #999;
  margin: 35px 0;
}

.stream-page-container .loading {
  margin: 200px auto;
  width: 100px;
  height: 100px;
}