.songs-edit-page {
    width: 1180px;
    margin: 0 auto;
}

.songs-edit-page header {
    display: flex;
    color: #333;
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.songs-edit-page header .loading {
    width: 40px;
    height: 40px;
    margin: auto 15px;
}

.songs-edit-page .bar {
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.songs-edit-page .container {
    min-height: 350px;
}

.songs-edit-page .container .loading{
    width: 100px;
    height: 100px;
    margin: 200px auto;
}

.songs-edit-page .container p {
    color: #999;
    font-size: 24px;
    margin: 200px 0 50px 0;
    text-align: center;
}

.songs-edit-page .container a {
    text-decoration: none;
}

.songs-edit-page .container button {
    display: block;
    margin: 0px auto;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    border: 1px solid #FB5400;
    border-radius: 3px;
    background-color: #FB5400;
}

// .songs-edit-page ul {
//     min-height: 350px;
// }


.songs-edit-page ul li {
    display: flex;
    justify-content: space-between;
}

.songs-edit-page ul li:hover {
    background-color: #f2f2f2;
    border-radius: 3px;
}

.songs-edit-page .left {
    display: flex;
    height: 65px;
    margin: 5px 0 5px 45px;
}

.songs-edit-page .left img {
    width: 50px;
    height: 50px;
    margin: auto 0;
    margin-right: 10px;
}

.songs-edit-page .left .song-info {
    margin: auto 0;
}

.songs-edit-page .left .artist {
    display: block;
    color: #999;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

.songs-edit-page .left .artist:hover {
    color: #333;
    text-decoration: none;
}

.songs-edit-page .left .title {
    display: block;
    color: #333;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

.songs-edit-page .left .title:hover {
    color: #333;
    text-decoration: none;
}

.songs-edit-page .left .social-info {
    display: flex;
}

.songs-edit-page .left .social-info p {
    color: #999;
    font-size: 12.25px;
    margin: 0;
    margin-right: 10px;
}

.songs-edit-page .right {
    display: flex;
    height: 65px;
    margin: 5px 15px 5px 0;
}

.songs-edit-page .right .hover-buttons {
    display: flex;
}

.songs-edit-page .right .hover-buttons button {
    width: 20px;
    height: 20px;
    margin: auto 0;
    color: #333;
    font-size: 11px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
}

.songs-edit-page .right .hover-buttons button:hover {
    border-color: #666;
}

.songs-edit-page .right p {
    min-width: 100px;
    color: #999;
    font-size: 12.25px;
    margin: auto 0;
    margin-left: 30px;
}

.songs-edit-page .right.song-length {
    min-width: 30px;
    color: #333;
    margin-left: 210px;
}

