

.user-show-page-banner {
    height: 305px;
    border-bottom: 1px solid #f2f2f2;
}

.user-show-page-content-header {
    margin: 0 auto;
    width: 1180px;
    height: 45px;
    border-bottom: 1px solid #f2f2f2;
}

.user-show-page-content {
    display: flex;
}

.user-show-page-music {
    width: 850px;
}