.sidebar .likes-section .ui-msg {
    color: #999;
    font-size: 13px;
    text-align: center;
    margin-top: 25%;
}

.sidebar .likes-section ul {
    display: flex;
}

.sidebar .likes-section ul li {
    margin: 0 -4px;    
}

.sidebar .likes-section .user-image {
    width: 35px;
    height: 35px;
    margin: 0;
    // margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.sidebar .followers-section .ui-msg {
    color: #999;
    font-size: 13px;
    text-align: center;
    margin: 25px 0;
}

.sidebar .followers-section ul {
    display: flex;}

.sidebar .followers-section ul li {
    margin: 0 -4px;    
}

.sidebar .followers-section .user-image {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}