.page-outer-bar {
  position: fixed;
  top: 0px;
  background: #333;
  width: 100%;
  height: 45px;
  right: 0px;
  z-index: 1;
}

.page-inner-bar {
  display: flex;
  margin: 0 auto;
  width: 1240px;
  height: 45px;
}

.stream-logo {
  position: absolute;
  width: 70px;
  height: 45px;
}

.bar-home {
  position: relative;
  left: 70px;
  color: #ccc;
  border: 1px solid #111;
  padding: 13px 28px 10px 28px;
  text-decoration: none !important;
}

.bar-collection {
  position: relative;
  left: 69px;
  color: #ccc;
  border: 1px solid #111;
  padding: 13px 28px 10px 28px;
  text-decoration: none !important;
}

.search-bar-container {
  position: relative;
  left: 68px;
  bottom: 1px;
  width: 605px;
  height: 44px;
}

.search-bar {
  position: absolute;
  border: 1px solid #ccc;
  margin: 8px 12px;
  padding: 5px 10px;
  width: 560px;
  border-radius: 5px;
  background-color: white;
}

.upload-button {
  position: relative;
  left: 67px;
  color: #ccc;
  border: 1px solid #111;
  width: 39px;
  padding: 12.5px 11px;
  font-size: 13px;
  text-decoration: none !important;
}

.profile-dropdown {
  display: flex;
  position: relative;
  left: 66px;
  color: #ccc;
  border: 1px solid #111;
  width: 113px;
  height: 16px;
  padding: 13.5px 12px;
  font-size: 13px;
}

.profile-dropdown-img {
  position: relative;
  bottom: 5px;
  padding: 0px;
  width: 25px;
  height: 25px;
}

.profile-dropdown-username {
  position: relative;
  left: 10px;
  bottom: 3px;
  font-size: 15px;
  width: 30px;
  height: 30px;
}

.logout-button {
  position: relative;
  left: 65px;
  width: 132px;
  height: 35px;
  padding: 4px;
  border: 1px solid #111;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
