// .song-show-page .content .sidebar .hiring-info {
//     width: 300px;
//     margin: 0 auto;
//     margin-top: 30px;
//     margin-bottom: 40px;
//     color: #9b9b9b;
// }

// .song-show-page .content .sidebar .hiring-info .header {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
//     border-bottom: 1px solid #f2f2f2;
// }

// .song-show-page .content .sidebar .hiring-info .header p {
//     margin: 0;
//     margin-bottom: 3px;
// }

// .song-show-page .content .sidebar .hiring-info ul {
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     margin-top: 10px;
// }

// .song-show-page .content .sidebar .hiring-info a {
//     color: #999;
//     text-decoration: none;
// }

// .song-show-page .content .sidebar .hiring-info a:hover {
//     color: #333;
//     text-decoration: none;
// }
//////////////////////////////////
.sidebar .hiring-info {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 85px;
    color: #9b9b9b;
}

.sidebar .hiring-info .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar .hiring-info .header p {
    margin: 0;
    margin-bottom: 3px;
}

.sidebar .hiring-info ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.sidebar .hiring-info a {
    color: #999;
    text-decoration: none;
}

.sidebar .hiring-info a:hover {
    color: #333;
    text-decoration: none;
}
