.sidebar .likes-section ul {
    display: block;
    margin-top: 15px;
}

.sidebar .likes-section ul li {
    display: flex;
    margin-bottom: 20px;
}

.sidebar .likes-section img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.sidebar .likes-section .song-info a {
    display: block;
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

.sidebar .likes-section .song-info a:hover {
    color: #333;
    text-decoration: none;
}

.sidebar .likes-section .song-info .title {
    color: #333;
}

.sidebar .likes-section .song-info .social-info {
    display: flex;
}

.sidebar .likes-section .song-info .social-info p {
    color: #999;
    font-size: 12.25px;
    margin-right: 10px;
}
//////////////////////////////////////////////
// .homepage .sidebar .likes-section ul {
//     display: block;
//     margin-top: 15px;
// }

// .homepage .sidebar .likes-section ul li {
//     display: flex;
//     margin-bottom: 20px;
// }

// .homepage .sidebar .likes-section img {
//     width: 50px;
//     height: 50px;
//     margin-right: 15px;
// }

// .homepage .sidebar .likes-section .song-info a {
//     display: block;
//     color: #999;
//     font-size: 14px;
//     text-decoration: none;
// }

// .homepage .sidebar .likes-section .song-info a:hover {
//     color: #333;
//     text-decoration: none;
// }

// .homepage .sidebar .likes-section .song-info .title {
//     color: #333;
// }

// .homepage .sidebar .likes-section .song-info .social-info {
//     display: flex;
// }

// .homepage .sidebar .likes-section .song-info .social-info p {
//     color: #999;
//     font-size: 12.25px;
//     margin-right: 10px;
// }
////////////////////////////////////////////////
.song-show-page .content .sidebar .related-songs ul {
    margin-top: 15px;
}

.song-show-page .content .sidebar .related-songs ul .loading {
    width: 50px;
    height: 50px;
    margin: 5px auto;
}

.song-show-page .content .sidebar .related-songs ul li {
    display: flex;
    margin-bottom: 20px;
}

.song-show-page .content .sidebar .related-songs img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.song-show-page .content .sidebar .related-songs .song-info a {
    display: block;
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

.song-show-page .content .sidebar .related-songs .song-info a:hover {
    color: #333;
    text-decoration: none;
}

.song-show-page .content .sidebar .related-songs .song-info .title {
    color: #333;
}

.song-show-page .content .sidebar .related-songs .song-info .social-info {
    display: flex;
}

.song-show-page .content .sidebar .related-songs .song-info .social-info p {
    color: #999;
    font-size: 12.25px;
    margin-right: 10px;
}