.homepage-container .content .navbar {
    width: 820px;
    height: auto;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 auto;
    margin-top: 70px;
}

.homepage-container .content .navbar a {
    position: relative;
    top: 12px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 35px;
    padding-bottom: 5px;
}

.user-show-page .bar .navbar {
    width: 820px;
    height: auto;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
}

.user-show-page .bar .navbar a {
    position: relative;
    top: 21px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 35px;
    padding-bottom: 5px;
}

.user-show-page .bar .navbar a {
    position: relative;
    top: 21px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 35px;
    padding-bottom: 5px;
}

.active {
    border-bottom: 1px solid #FB5400;
    color: #ff5400 !important;
}

.active:hover {
    font-size: 24px;
    text-decoration: none !important;
    color: #ff5400;
}



// .clicked {
//     // margin-right: 20px;
//     border-bottom: 1px solid #ff5400;
// }




