.navbar-container {
    margin: 0 auto;
    margin-top: 45px;
    width: 820px;
    height: 70px;
    border-bottom: 1px solid #f2f2f2;
}

.navbar {
    display: flex;
    margin: 0 auto;
    width: 820px;
    position: relative;
}

.navbar-button-container {
    margin-top: 13px;
    margin-right: 20px;
}

.navbar-button-container :hover {
    // margin-right: 20px;
    border-bottom: 1px solid inherit;
}

.clicked {
    // margin-right: 20px;
    border-bottom: 1px solid #ff5400;
}


.navbar-button {
    font-size: 24px;
    text-decoration: none !important;
    color: #000000;
    // color: #ff5400;
}

.active{
    font-size: 24px;
    text-decoration: none !important;
    color: #ff5400;
    // color: #ff5400;
}