.player-bar-container {
    position: fixed;
    bottom: 0px;
    // top: 740px;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    z-index: 3;
}

.player-bar {
    display: flex;
    margin: 0 auto;
    width: 1240px;
}

.player-bar .controls-container {
    display: flex;
}

.player-control {
    width: 20px;
    height: 20px;
    margin: 13px 10px;
}

.player-bar .controls-container p {
    margin: 0 10px;
}

.player-bar .controls-container p i {
    position: relative;
    top: 13.5px;
}

.player-bar .controls-container .shuffled{
    color: #FB5400;
}

.player-bar .progress {
    color: #FB5400;
    margin: 13px 10px;
}

.player-bar .progress-tracker-container {
    margin: 15px 10px;
    width: 520px;
}

.player-bar .length {
    margin: 13px 20px 0px 0px;
}

input[type=range]:focus {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #000000;
}

.player-bar .song-info-container {
    display: flex;
    margin-left: 5px;
    // width: 100%;
    // margin-right: 210px;
}

.player-bar .song-info-container img {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
}

.player-bar .song-info-container .song-info {
    position: relative;
    top: 10px;
    left: 10px;
    min-width: 100px;
}

.player-bar .song-info-container .song-info a {
    display: block;
    font-size: 11px;
    color: #999;
    margin: 0px;
    text-decoration: none;
}

.player-bar .song-info-container .song-info a:hover {
    color: black;
}

.player-bar .song-info-container .song-info .title {
    color: #333;
}

.player-bar-song-title:hover {
    font-size: 11px;
    color: black;
    margin: 0px;
}

.player-bar .actions-container {
    display: flex;
    position: relative;
    top: 12px;
    width: 55px;
    justify-content: space-between;
    margin-left: 210px;
}

.player-bar .actions-container .liked {
    color: #FB5400;
}

.player-bar .actions-container .like {
    color: black;
}

.player-bar .actions-container i {
    position: relative;
    top: 2px;
}

.player-bar .actions-container img {
    width: 25px;
    height: 25px;
    margin: 0;
}