.queue-list {
    position: fixed;
    bottom: 51px;
    right: 25px;
    width: 300px;
    height: 400px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 3px;
}

.queue-list header {
    border-bottom: 1px solid #333;
}