.song-show-page .content .social-els-container .social-els {
    display: flex;
    justify-content: space-between;
}

.song-show-page .content .social-els-container .social-els .left {
    display: flex;
}

.song-show-page .content .social-els-container .social-els .left button {
    width: auto;
    height: 25px;
    color: #333;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 5px 0px;
    padding: 0px 10px 0px 7px;
}

.song-show-page .content .social-els-container .social-els .left .liked-button {
    color: #FF5400;
    border-color: #FF5400;
}

.song-show-page .content .social-els-container .social-els .left .like-button {

}

.song-show-page .content .social-els-container .social-els .right {
    display: flex;
}

.song-show-page .content .social-els-container .social-els .right p {
    color: #999;
    margin: auto 0;
}

.item-player .social-els {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.item-player .social-els .left {
    display: flex;
}

.item-player .social-els .left p {
    color: #333;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: auto 0;
    margin-right: 5px;
    padding: 2px 8px;
    font-size: 11px;
    cursor: pointer;
    min-width: 25px;
    text-align: center;
}


.item-player .social-els .left .liked-button {
    color: #FB5400;
    border-color: #FB5400;
}

.item-player .social-els .left .like-button {
}

.item-player .social-els .right {
    display: flex;
    position: relative;
    top: 10px;
    margin: 0;
}

.item-player .social-els .right a {
    display: flex;
    font-size: 11px;
    color: #999;
    text-decoration: none;
}

.item-player .social-els .right a:hover {
    color: #333;
}

.item-player .social-els .right i {
    position: relative;
    top: 2px;
    margin-right: 7px;
}