.stream-page-container .songs-list-item .header {
    display: flex;
}

.stream-page-container .songs-list-item .header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.stream-page-container .songs-list-item .header p {
    font-size: 12px;
    color: #999;
    margin: auto 0;
}

.stream-page-container .songs-list-item .header p span {
    color: #333;
}

/////////////////////////////////////////////////////////

.user-show-page .content .songs-list ul {
    width: 820px;
    margin: 20px auto;
}

.user-show-page .content .songs-list .songs-list-item {
    margin: 0 auto;
    margin-bottom: 45px;
}

.user-show-page .content .songs-list-item .header {
    display: flex;
}

.user-show-page .content .songs-list-item .header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-show-page .content .songs-list-item .header p {
    font-size: 12px;
    color: #999;
    margin: auto 0;
}

.user-show-page .content .songs-list-item .header p span {
    color: #333;
}


