.hp-loading {
    position: relative;
    top: 350px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.homepage {
    display: flex;
    min-height: 800px;
}

.homepage .content {
    width: 880px;
    height: 100%;
    border-right: 1px solid #f2f2f2;
}

.homepage .sidebar {
    // position: fixed;
    // right: 100px;
    // overflow: hidden;
    // -ms-overflow-style: none;
    // overflow-y: scroll;
    width: 360px;
    height: 100%;
}

.homepage .sidebar::-webkit-scrollbar {
    width: 0 !important;
}


// .homepage .sidebar .stats {
//     margin: 30px auto;
//     width: 100vh;
//     height: 250px;
//     background-color: yellow;
// }


// .who-to-follow:hover + .refresh {
//     color: #333;
// }




