.bar-logo {
  display: flex;
  position: absolute;
  top: 10px;
  left: 25px;
}

.logo-before-login {
  width: 50px;
  height: 50px;
}

.logoname-before-login {
  font-size: 20px;
  font-weight: bold;
  transform: scale(1, 1.25);
  color: white;
  position: absolute;
  top: 15px;
  left: 60px;
  width: 195px;
}


// min-width: 800px;
// max-width: 1240px;
.user-auth-buttons {
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 275px;
  justify-content: space-between;
}


.login-button {
  display: inline-block;
  background-color: transparent;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
}

.signup-button {
  display: inline-block;
  background-color: #f7530f;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
}
