.app {
  height: 2000px;
  background-color: #f2f2f2;
  z-index: -1;
}

.homepage-container {
  left: 50px;
  right: 50px;
  height: 300px;
}

.logo-before-login {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 80px;
  height: 80px;
}

.logoname-before-login {
  font-size: 35px;
  font-weight: bold;
  transform: scale(1, 1.25);
  color: white;
  position: absolute;
  top: 27.5px;
  left: 190px;
}

.homepage-header-bar {
  display: flex;
  align-self: center;
  border-top: 5px solid #f7530f;
  margin: 0 80px;
  height: 700px;
  background: image_url("header-background.gif") no-repeat;
  background-size: cover;
  z-index: 0;
}

// min-width: 800px;
// max-width: 1240px;
.user-auth-buttons {
  display: flex;
  position: fixed;
  top: 15px;
  right: 125px;
  width: 275px;
  justify-content: space-between;
}


.login-button {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
}

.signup-button {
  display: inline-block;
  background-color: #f7530f;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
}
