.app {
  margin: 0 auto;
  background: #f2f2f2;
}

.homeage-container {
  margin: 0 auto;
  width: 1240px;
  background-color: white;
}

.homepage-header-bar {
  margin: 0 auto;
  width: 1240px;
  border-top: 5px solid #f7530f;
  background: image_url("slideshow-img1.jpg") no-repeat;
  height: 450px;
}
