.splash-page .header .search-bar-container {
  margin-top: 40px;
}

.splash-page .header .search-bar-container .search-bar {
  display: flex;
  margin: 0px auto;
  width: 855px;
}

.splash-page .header .search-bar-container .search-bar .box-container input {
  background-color: #f2f2f2;
  width: 600px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
}

.splash-page .header .search-bar-container .search-bar h4 {
  margin: 15px;
}

.splash-page .header .search-bar-container .search-bar .upload-button {
  position: relative;
  left: 0px;
  font-size: 16px;
  color: white;
  width: auto;
  height: 50px;
  background-color: #f7530f;
  border-color: transparent; 
  border-radius: 5px;
  padding: 0px 20px;
}

.splash-page .content-header {
  display: block;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  border-top: 0px;
}

.splash-page .content {
  // display: table-cell;
  // vertical-align: middle;
  width: 1240px;
  // height: 530px;
  margin: 0 auto;
}

.splash-page .content .loading {
  position: relative;
  top: 50px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.splash-page .content .ui-msg {
  position: relative;
  top: 100px;
  color: #999;
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  margin: 0 auto;
  width: 613px;
}


.splash-page .content ul {
  display: flex;
  flex-wrap: wrap;
  min-height: 520px;
  // width: 1180px;
}
.splash-page .content ul li {
  width: 180px;
  height: 220px;
  margin-left: 23px;
  margin-bottom: 40px;
}

.songs-index-item .img-container {
  width: 180px;
  height: 180px;
}

.splash-song-img {
  width: 180px;
  height: 180px;
}

.songs-index-item .img-container .play-sign-container {
  display: none;
  position: relative;
  bottom: 120px;
  /* width: 60px; */
  height: 60px;
}

.splash-song-img:hover + .play-sign-container {
  display: block;
  width: 180px;
  height: 180px;
}

.songs-index-item .img-container .play-sign-container:hover {
  display: block;
  width: 180px;
  height: 180px;
}

.songs-index-item .img-container .play-sign-container .play-sign {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.songs-index-item .img-container .pause-sign-container {
  display: block;
  position: relative;
  bottom: 120px;
  /* width: 60px; */
  height: 60px;
}

.songs-index-item .img-container .pause-sign {
  position: relative;
  top: 4px;
  margin: 0 auto;
  width: 52px;
  height: 52px;
}




.splash-song-img:hover + .songs-index-item .img-container .pause-pause-container {
  display: block;
  width: 180px;
  height: 180px;
}

.songs-index-item .img-container .pause-sign-container:hover {
  display: block;
  width: 180px;
  height: 180px;
}


.songs-index-item .title {
  font-size: 14px;
  margin: 5px 0;
}

.songs-index-item .artist {
  font-size: 12px;
  color: #999;
}

.songs-index-item .artist:hover {
  font-size: 12px;
  color: black;
}