.splash-page-search-bar {
  display: flex;
  margin: 0px auto;
  margin-top: 40px;
  width: 855px;
}

.splash-page-search-bar .box-container input {
  background-color: #f2f2f2;
  width: 600px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
}

.splash-page-search-bar h4 {
  margin: 15px;
}

.splash-page-search-bar .upload-button {
  position: relative;
  left: 0px;
  font-size: 16px;
  color: white;
  width: auto;
  height: 50px;
  background-color: #f7530f;
  border-color: transparent; 
  border-radius: 5px;
  padding: 0px 20px;
}

.splash-page-container .content-header {
  display: block;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  border-top: 0px;
}

.splash-page-content {
  margin: 0 auto;
}

.splash-page-songs-index {
  display: flex;
  flex-wrap: wrap;
  // width: 1180px;
}

.splash-page-songs-index-item {
  width: 180px;
  height: 220px;
  margin-left: 23px;
  margin-bottom: 40px;
}

.splash-page-songs-index-item-img-container {
  width: 180px;
  height: 180px;
}

.splash-page-songs-index-item-img {
  width: 180px;
  height: 180px;
}

.splash-page-songs-index-item-play-container {
  display: none;
  position: relative;
  bottom: 120px;
  /* width: 60px; */
  height: 60px;
}

.splash-page-songs-index-item-img:hover + .splash-page-songs-index-item-play-container {
  display: block;
  width: 180px;
  height: 180px;
}

.splash-page-songs-index-item-play-container:hover {
  display: block;
  width: 180px;
  height: 180px;
}

.splash-page-songs-index-item-play-sign {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.splash-page-songs-index-item-pause-container {
  display: block;
  position: relative;
  bottom: 120px;
  /* width: 60px; */
  height: 60px;
}

.splash-page-songs-index-item-pause-sign {
  position: relative;
  top: 4px;
  margin: 0 auto;
  width: 52px;
  height: 52px;
}




.splash-page-songs-index-item-img:hover + .splash-page-songs-index-item-pause-pause-container {
  display: block;
  width: 180px;
  height: 180px;
}

.splash-page-songs-index-item-pause-sign-container:hover {
  display: block;
  width: 180px;
  height: 180px;
}


.splash-page-songs-index-item-title {
  font-size: 14px;
  margin: auto 0px;
}

.splash-page-songs-index-item-artist {
  font-size: 12px;
  color: #999;
}

.splash-page-songs-index-item-artist:hover {
  font-size: 12px;
  color: black;
}