.feed-page-container {
  display: flex;
  position: relative;
  top: 45px;
  margin: 0 auto;
  background-color: white;
  width: 1240px;
  height: 3000px;
}

.feed-page {
  position: relative;
  width: 880px;
  border-right: 1px solid #fff;
}

// .feed-page-navbar-box {
//   display: block;
//   position: fixed;
//   height: 70px;
// }

.feed-page-navbar-container {
  display: block;
  margin: 0 auto;
  width: 820px;
  height: 70px;
  border-bottom: 1px solid #f2f2f2;
}

.feed-page-navbar {
  display: flex;
  margin: 0 auto;
  width: 820px;
  position: relative;
  top: 20px;
}

.feed-page-navbar-button-container {
  margin-right: 20px;
}

.feed-page-navbar-button {
  font-size: 24px;
}

.feed-page-content-container {
  display: block;
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 820px;
}
