.protected-page-outer-bar {
  position: fixed;
  width: 100%;
  background: #333;
  height: 45px;
  z-index: 3;
}

.protected-page-inner-bar {
  margin: 0 auto;
  width: 1240px;
  height: 45px;
}

.stream-logo {
  position: absolute;
  width: 70px;
  height: 45px;
}

.bar-home {
  position: relative;
  left: 70px;
  top: 13px;
  color: #ccc;
  border: 1px solid #111;
  padding: 13px 28px;
}

.bar-collection {
  position: relative;
  left: 69px;
  top: 12.5px;
  color: #ccc;
  border: 1px solid #111;
  padding: 13px 12px;
}

.search-bar-container {
  position: relative;
  left: 275px;
  bottom: 19px;
  width: 537px;
  height: 44px;
  border: 1px solid #111 #ccc;
}

.search-bar {
  position: absolute;
  border: 1px solid #ccc;
  margin: 7px 20px;
  padding: 5px 10px;
  width: 476px;
  border-radius: 20px;
  background-color: white;
}

.upload-button {
  position: relative;
  left: 872px;
  bottom: 52px;
  color: #ccc;
  border: 1px solid #111;
  width: 39px;
  padding: 14px 12px;
  font-size: 13px;
}

.profile-dropdown {
  display: flex;
  position: relative;
  left: 941px;
  bottom: 85px;
  color: #ccc;
  border: 1px solid #111;
  width: 132px;
  height: 16px;
  padding: 14px 12px;
  font-size: 13px;
}

.profile-dropdown-img {
  position: absolute;
  left: 5px;
  margin: -6px 5px;
  padding: 0px;
  width: 30px;
  height: 30px;
}

.profile-dropdown-username {
  position: absolute;
  left: 45px;
  top: 18px;
  margin: -6px 5px;
  font-size: 15px;
  padding: 2px;
  width: 30px;
  height: 30px;
}

.logout-button {
  position: relative;
  left: 1098px;
  bottom: 132px;
  width: 132px;
  height: 37px;
  margin: 0px;
  padding: 4px;
  border: 1px solid #111;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
