.song-mgmt-page-container {
  height: 100vh;
  // width: 1240px;
  // min-height: 1000px;
  // margin: 0 auto;
  // background-color: white;
}

.song-mgmt-navbar-container {
  position: relative;
  top: 45px;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.song-mgmt-navbar {
  display: flex;
  width: 1180px;
  margin: 0 auto;
}

.song-mgmt-navbar-button-container {
    position: relative;
    top: 20px;
    margin-right: 20px;
  // margin: 0px 15px 0px 0px;
  // border-bottom: 1px solid #ff4d01;
  // font-size: 14px;
}

.song-mgmt-navbar-button {
  font-size: 14px;
  color: black;
  text-decoration: none !important;
  // padding: 15px 0px;
}

.song-mgmt-navbar-button:hover {
  font-size: 14px;
  color: black;
  text-decoration: none !important;
  // padding: 15px 0px;
}

.on {
  color: #ff5400;
}

.on:hover {
  color: #ff5400;
}


.upload-form-subheader {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 22px;
  width: 285px;
}

.song-uploader-container {
  display: block;
  margin: 0 auto;
  width: 85px;
}

.upload-fill-in-form {
  margin: 0 auto;
  width: 860px;
  box-shadow: 0px 1px 3px 2px #888888;
}

// input[type=file] {
//   color: transparent;
//   // content: "Choose a file to upload";
// }

.upload-form-content {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  width: 800px;
  border: 1px solid #ccc;
}

.song-image-uploader-container {
  margin: 0 auto;
  width: 255px;
}

.song-image-preview {
  width: 190px;
}

.upload-form-data-name {
  display: block;
  font-size: 14px;
}

.song-uploader-container {
  height: 100px;
}

.upload-form-audio-uploader {
  display: block;
}

.upload-audio-preview {
  margin: 40px 0px 0px -105px;
}

.upload-form-errors-container {
  display: block;
}

// .upload-form-title-input {
//   border: 1px solid #ccc;
//   margin: 7px 8px;
//   border-radius: 3px;
//   width: 300px;
// }

.upload-form-title {
  width: 275px;
  height: 20px;
}

// .upload-form-genre-input {
//   border: 1px solid #ccc;
//   margin: 7px 8px;
//   border-radius: 3px;
//   width: 200px;
// }

.upload-form-genre {
  width: 100px;
}

// .upload-form-description-input {
//   border: 1px solid #ccc;
//   margin: 7px 8px;
//   border-radius: 3px;
//   width: 450px;
// }

.upload-form-description {
  width: 425px;
  height: 175px;
}

.upload-form-availability-input {
  margin: 5px;
}

.upload-form-footer {
  position: relative;
  bottom: 1px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px;
  width: 800px;
  border-top: 1px solid #ccc;
}

.requirement-reminder {
  display: flex;
}

.upload-form-end-buttons {
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.upload-form-submit-button {
  color: white;
  background-color: #ff4f01;
}
