.charts-page .filter-bar {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
  margin-top: 30px;
}

.filters-message {
  font-size: 12px;
}

#orderSelector {
  font-size: 14px;
  color: #ff5400;
  border: 1px solid #ff5400;
  width: 175px;
  height: 30px;
}

#orderSelector:hover {
  font-size: 14px;
  color: white;
  background-color: #ff5400;
  border: 1px solid #ff5400;
  width: 175px;
  height: 30px;
}

#genreFilters {
  font-size: 14px;
  color: #ff5400;
  border: 1px solid #ff5400;
  width: 220px;
  height: 30px;
}

#genreFilters:hover {
  font-size: 14px;
  color: white;
  background-color: #ff5400;
  border: 1px solid #ff5400;
  width: 220px;
  height: 30px;
}

.filters-message {
  font-size: 14px;
  color: #999;
  margin: 0 0 40px 30px;
}

.charts-songs-list-labels {
  display: flex;
  margin: 0 auto;
  width: 820px;
  border-bottom: 1px solid #f2f2f2;
}

.charts-songs-list-label {
  font-size: 12px;
  color: #999;
  width: 150px;
}

// .charts-songs-list-container {
  
// }

