.app {
    margin: 0 auto;
    background: #f2f2f2;
    height: auto;
}

.page-container {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 1240px;
    height: auto;
    min-height: 900px;
}

body {
    // background-color: #f2f2f2 !important;
}

.carousel .slide {
    background: none;
}

.page-container .user-show-loading {
    position: relative;
    left: 520px;
    top: 350px;
    width: 200px;
    height: 200px;
}
  
  