.app {
    margin: 0 auto;
    background: #f2f2f2;
    height: auto;
}

.page-container {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 1240px;
    height: auto;
}
  
  