.modal-background {
  position: fixed;
  top: 150px;
  bottom: 150px;
  right: 200px;
  left: 200px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
